/*.App {*/
/*  text-align: center;*/
/*}*/

/*.App-logo {*/
/*  height: 40vmin;*/
/*  pointer-events: none;*/
/*}*/

/*@media (prefers-reduced-motion: no-preference) {*/
/*  .App-logo {*/
/*    animation: App-logo-spin infinite 20s linear;*/
/*  }*/
/*}*/

/*.App-header {*/
/*  background-color: #282c34;*/
/*  min-height: 100vh;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  font-size: calc(10px + 2vmin);*/
/*  color: white;*/
/*}*/

/*.App-link {*/
/*  color: #61dafb;*/
/*}*/

/*@keyframes App-logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/

.header, nav, main, footer {
  margin-top: 2px;
  margin-bottom: 2px;
}

header {
  color: white;
  background-color: dimgray;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main {
  display: flex;
  flex-grow: 1;
}

nav {
  background-color: dimgray;
  /* flex-grow: 1; */
  flex-basis: 15%;
}

nav a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: darkorange;
  border: 2px solid dimgray;
}

nav a:hover {
  border: 2px solid gold;
  color: gold;
  border-radius: 2px;

}

nav a.active {
  background-color: darkgray;
  border: 2px solid darkgray;
  color: black;
}

section {
  background-color: dimgray;
  flex-grow: 5;
  flex-basis: 50%;
}

footer {
  background-color: dimgray;
  min-height: 100px;
}

#dscr1{
  min-width: 200px;
  border: 10px solid black;
}

#dscr2{
  min-width: 425px;
  border: 10px solid black;
}

#sel{
  border: 2px solid black;
  background-color: darkgray;
}

#btn1{
  border: 2px solid black;
  background-color: darkgray;
}

#btn1:hover{
  background-color: dimgray;
  border: 2px solid gold;
  color: gold;
}

.announcement{
  background-color: darkgray;
  border: 2px solid dimgray;
  color: black;
}

.back{
  background-color: black;
}
